/*  your css code here. If applicable */
 tr,th,td{
        border:1px solid black;
        padding: 10px;
        margin: 5px;
    }
    table{
        border: 1px solid black;
        width: 80%;
        padding: 10px;
        margin: 5px;
    }
    .first{
        border: 0px solid black;
    }
    .third{
        border: 0px solid black;
    }
    .fourth{
        border: 0px solid black;
    }
.sixth{
	border:0px solid black;
}
    .left{
        text-align: left;
    }
    .right{
        text-align: right;
    }
    .center{
        text-align: center;
    }
    .new2{
        text-align: center;
    }